.jumbotron {
    background-image: url("../img/pizza.png");
}

.jumbotron>h1 {
    text-align: center;
    width: 100%;
    background-color: rgba(249, 249, 249, .6);
    padding-top: .25em;
    padding-bottom: .25em;
    color: rgba(0, 0, 0, .6);
}

